<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Enter your details </h1>
   
<form method="POST" action="{{url_for('location')}}">
    location name:  <input type="text" name ="locname"/>
    <br><br>
    <input type="submit" value="submit">
</form>

<table>
    <thead>
        <th>location ID</th>
        <th>location Name</th>
    </thead>
    <tbody>
        {% for l in location %}
            <tr>
                <td>{{ l[0] }}</td>
                <td>{{ l[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>

</body>
</html>