{% extends 'base-template.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Inventory Details</b></h2></div>
                    <div class="col-sm-3">

                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>      
                        <th>Location</th>
                        <th>Product</th>
                        <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for l in inventory %}
                    <tr>
                        <td>{{ l[0] }}</td>
                        <td>{{ l[1] }}</td>
                        <td>{{ l[2] }}</td>
                    </tr>
                {% endfor %}
                  </tbody>
                
            </table>
        </div>
    </div>

</body> 
{% endblock %}                          



